body {
  margin: 0px 0px; /* no spaces */
  font-family: Arial, sans-serif;
}

header {
  background-color: #0c0c0c;
  height: 60px;
}

nav {
  display: flex;
}

nav img {
  height: 45px;
  width: auto;  
  padding: 3px 15px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 17px;  
  margin-right: 70px; 
}
nav a:nth-child(2) {
  padding: 20px 0px;
  margin-right: 30px;
}
nav a:nth-child(3) {
  padding: 20px 0;
  margin-right: 50px;
}
nav a:nth-child(4) {
  padding: 20px 0;
  margin-left: -16px;
}

.banner {
  width: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.home {
  background: url('https://i.ibb.co/LDkmZGFn/882997.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: 20% 23%;
  height: 450px;
  border-bottom: 3px solid; /* line */
  border-image: linear-gradient(to right, #ffd86b, #707070) 1;
}


.home h2 {
  position: relative;   /* allow move elements in banner without moving banner*/
  top: -5px;            
  left: 100px;          
  color: white;
  font-size: 34px;
}

.home .highlight {
  position: relative;   
  font-size: 18px;   
  bottom: 29px;            
  left: 100px;          
  color: #ffffff;    
}

.my-button {
  position: relative;  
  bottom: 15px;
  padding: 12px;
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;          /* remove borders */
  border-radius: 10px;   /* rounding of corners */
  cursor: pointer;       /* cursor on hover */
  transition: 0.3s;      /* smooth effect when hovering */
  margin-left: 100px;
  background: linear-gradient(45deg, #ffd86b, #707070);
}

.my-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.content-section {
  display: flex;
  align-items: center;        
  justify-content: space-between; 
  padding: 40px 80px;
  background: rgb(14, 14, 14); 
  gap: 20px;
}

.content-section img {
  max-width: 600px;         
  height: auto;
  border-radius: 10px;   
}

.text-left {
  padding-left: 70px;
  font-size: 18px; 
  color: white;
  flex: 1;
}

.text-right {
  padding-left: 160px;
  font-size: 18px; 
  color: white;
  flex: 1;
}

.image-right img {
  margin-left: 120px;
  flex: 1;
}

.image-left img {
  margin-left: 60px;
  flex: 1;
}

/* For alternating order on small screens */
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;     /* text over photo on mobile screens */
  }
}

.services {
  background: url('https://i.ibb.co/5WxQVN8K/122886.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: 20% 23%;
  height: 680px;
  color: white;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #6ba6ff, #707070) 1;
  text-align: center;
}

.services h2 {
  position: relative;
  top: -50px;
  color: white;
  font-size: 34px;
}

.services .highlight_1 {
  position: relative;
  font-size: 18px; 
  bottom: 80px;      
  color: #ffffff;   
}

.my-button_1 {
  padding: 12px;  
  width: 200px;
  font-size: 18px;      
  font-weight: bold;
  color: white;        
  border: none;               
  border-radius: 10px;       
  cursor: pointer;           
  transition: 0.3s;           
  margin: -50px auto 0; 
  background: linear-gradient(45deg, #6bc9ff, #707070);
}

.my-button_1:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {
  background-color: #181818;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
}

footer {
  background-color: #1e1e1e;
  color: rgb(255, 255, 255);
  padding: 20px 30px; 
  text-align: center;  
  height: 80px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
